*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #3498DB;
}

.wrapper{
    height: 250px;
    background: #fff;
 width: 410px;
 /* max-width: 600px; */
 border-radius: 10px;
padding: 16px 25px;
transition: height 0.3s ease;
}
.wrapper.active{
    height: 490px;

}
header h1{
    font-size: 21px;
    font-weight: 500;
}

header p{
margin-top: 5px;
color: #474747;
    font-size: 16px;
    font-weight: 500;
}
.wrapper .form{
    margin: 20px 0 25px;
}
.form :where(input, button){
    width: 100%;
    height: 55px;
    border: none;
    outline: none;
    border-radius: 10px;
}

.form input{
    border: 1px solid #999;
    font-size: 20px;
    padding: 0 15px;
}
.form button{
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    margin-top: 10px;
    background: #79c4f7;
}
.wrapper .qr-code{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    padding: 33px 0;
    opacity: 0;
    pointer-events: none;

}
.wrapper.active .qr-code{
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.5s 0.05s ease;
}























